pymongo==3.7.2
fake_useragent==0.1.11
channels==2.1.7
Django==2.1.4
asgiref==2.2.0
gensim==3.7.1
jieba==0.39
lda==1.1.0
psutil==5.4.8
threadpool==1.3.2
wordcloud==1.5.0
numpy==1.15.4
matplotlib==3.0.2
nltk==3.4
pandas==0.23.4
scipy==1.2.1
stop_words==2018.7.23
scikit_learn==0.21.2
